
.ant-table-cell {
  max-width: 180px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11px;
  font-weight: 400 !important;
}

.ant-table td {
  white-space: nowrap;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-weight: 400 !important;
}

.ant-table th {
  font-size: 13px;
  font-weight: 500 !important;
  /* background-color: #4dffac !important; */
}

.table-filter-icon {
  cursor: pointer;
  width: 1.3rem;
}

/* Table Action View Icon */
.table-eye-icon {
  color: #0071c5;
  font-size: 12px !important;
  cursor: pointer;
}

.table-delete-icon {
  color: #ff0800;
  cursor: pointer;
  font-size: 12px !important;
}

.table-edit-icon {
  color: #00d832;
  cursor: pointer;
  font-size: 12px !important;
}

.table-action-icon-wrapper {
  display: flex;
  justify-content: flex-start !important;
  column-gap: 12px;
  align-items: center;
}

/* For toggle state on/off */
.status-switch.ant-switch {
  background-color: #ff4d4f !important;
}

.status-switch.ant-switch-checked {
  background-color: #52c41a !important;
}

.status-switch.ant-switch:hover:not(.ant-switch-checked) {
  background-color: #ff7875 !important;
}

.status-switch.ant-switch-checked:hover {
  background-color: #73d13d !important;
}

.status-switch.ant-switch {
  transition: all 0.3s ease;
}

/* Description action view */
.custom-descriptions .ant-descriptions-item-label {
  font-size: 12px;
  font-weight: 400;
  background-color: transparent !important;
  border-right: 1px solid #def4ff !important;
}

.custom-descriptions-padding .ant-descriptions-item-label,
.custom-descriptions-padding .ant-descriptions-item-content {
  padding: 4px 8px !important;
  font-size: 11px !important;
}

.custom-descriptions .ant-descriptions-item-content {
  padding: 4px 8px !important;
  font-size: 12px;
  font-weight: 400;
}

/* Border */
.custom-descriptions .ant-descriptions-view {
  border: 1px solid #def3fe !important;
}

.custom-descriptions .ant-descriptions-row {
  border-bottom: 1px solid #def3fe !important;
}

.custom-descriptions .ant-descriptions-item {
  border-right: 1px solid #def3fe !important;
}

.filter-form {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.filter-form.open {
  max-height: 85vh;
  padding: 12px 0px;
  background-color: #ffffff;
}